/******************************/
/*****  Trying bootstrap  *****/
/******************************/

.features .glyphicon{
	font-size: 18px;
	padding-right: 10px;
}

.jj-fire{
	color: orange;
}

.jj-leaf{
	color: darkgreen;
}

.jj-profile-pic{
	width: 100%;
	height: auto;
	max-width: 200px;
	padding: 15px 0px 10px 0px;	
}

#world{
	font-size: 200px;
	color: #337ab7
}