/******************************/
/*****  Trying bootstrap  *****/
/******************************/

.features .glyphicon{
	font-size: 18px;
	padding-right: 10px;
}

.jj-fire{
	color: orange;
}

.jj-leaf{
	color: darkgreen;
}